
.row{
    margin-top: 100px;
}
table{
    border-collapse: collapse; 
}
table.center{ 
    margin-left: auto;
    margin-right: auto;
}
td{
    /* background-color:royalblue; */
   width: 600px;
}
.pre-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 34px;
    margin-bottom: -50px;
    /* margin-left: -175px; */
}

.pre-text-small{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: -50px;
    /* margin-left: -175px; */
    width: 400px  ;
    text-align: left;
}
.main-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
}
.contact-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 44px;
    text-align: left;
}
.button{
    margin-top: -50px;
     background-color:white;
    border: 2px solid black;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button-text{
    font-size: 16px;
    /* margin-left: -110px; */
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.button:hover{
    background-color:black;
    color: white;
}
.sub-button{
     background-color:white;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-left: -110px; */
    font-weight: bold;
}
.sub-button:hover{
     background-color:black;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-left: -110px; */
    font-weight: bold;
}

.label-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: -50px;
    width: 400px  ;
}

.video{
    margin-top: 50px;
    align-self: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .space{
      font-size: 24px;
      margin-right: 10px ;
  }



  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}
